body {
  background-image: url("/assets/pokemon-bg.jpg");
  background-repeat: no-repeat;
  background-image: cover;
}

.TheBiggerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Container {
  width: 300px;
  height: 300px;
  border-radius: 25px;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.SecondImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  padding: auto;
}
